*{
    margin: 0;
    padding: 0;
    
}
.header{
   background: rgb(0, 0, 0, 0.6) url(/Assets/bg1.jpg);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;

    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    height: 100vh;
}
/* .demo-bg{
    align-items: center;
} */
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    
}
.head-t{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
    color: white;

}
.nav0{
    /* display: flex; */
    list-style: none;
    
}
.nav{
    margin-left: 500px;
    position: sticky;
}
.nav-menu{
    font-family: 'Montserrat';
    text-decoration: dashed;
    /* color: black; */
    font-weight: 500;
    padding: 7px 14px;
    margin-left: 40px;
    color: white;
    /* border: white 2px solid;
    border-radius: 8px; */
}
.nav-menu:hover{
    font-family: 'Montserrat';
    text-decoration: dashed;
    padding: 7px 14px;
    /* color: black; */
    font-weight: 500;
    margin-left: 40px;
    color: #28282B;
    background-color: rgba(255, 255, 255, 0.308);
    /* border-radius: 14px; */
}

.img-my{
    border-radius: 50%;
    width: 10%;
    
}
.my-name{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    color: white;
}
.my-skills{
    font-family: 'Montserrat';
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 6px;
    color: white;
}
.social{
    text-align: center;
    padding-bottom: 38px;
}
.s-icon{
    margin: 30px 20px;
    
}

.s-icon:hover{
    border: white 2px solid;
    margin: 30px 20px;
    border-radius: 50%;
    box-sizing: border-box;
}
.b2{
    border: 3px #28282B solid;
}
.c2{
    display: flex;
    justify-content: center; 
    
    /* box-sizing: border-box; */
    
    /* margin-left: 250px;
    margin-right: 250px; */
    margin-top: 100px;

    /* align-items: center; */
    
    
}


.c2-1{
    max-width: 35%;
    font-family: 'Montserrat';
    /* border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; */
    border-radius: 4px;
    padding-left: 60px;
    padding: 30px;
    /* color: white; */
    box-shadow: 0 0 20px 0 #0E1525;
    border-left: 7px solid #0E1525;
    /* background-color: #28282B; */
    /* margin: auto; */
}
.c2-1-1{
    font-weight: 750;
    font-size: 25px;
    margin-bottom: 10px;
    
}
.c2-2{
    font-family: 'Montserrat';
    /* padding-left: 65px; */
    /* border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; */
    /* color: white; */
    box-shadow: 0 0 20px 0 #0E1525;
    border-left: 7px solid #0E1525;
    /* background-color: #28282B; */
   
    border-radius: 4px;

    
    padding: 30px;
    width: 35%;
}
.c2-2-1{
    font-weight: 750;
    font-size: 25px;
    margin-left: 65px;
    margin-bottom: 10px;
    
}
.c2-3{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.ask-info{
    font-weight: 700;
    line-height: 40px;
}

.c3{
    font-family: 'Montserrat';
    margin-bottom: 40px;
    
    
}
.c3-exp1{
    border: 0 solid white;
    /* color: white; */
    box-shadow: 0 0 20px 0 #0E1525;
    border-left: 5px solid #0E1525;
    /* background-color: #28282B; */
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c3-exp{
    
    margin: 2% 10% 0px 10%;
    
    /* text-align: center; */
    
}
.c3-h1{
    text-align: center;
    font-size: 60px;
    margin: 70px;
}
.c3-h1-f1{
    font-weight: 600;
    font-size: 25px;
    width: 40%;
    padding: 80px 50px;
    background-color: #0E1525;
    color: white;
    text-align: center;
    
    

}
.c3-h1-p{
    width: 180%;
    padding: 0 40px;
    
   
}
.foot-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'montserrat';
    color: white;
    background-color: #0E1525;

    /* border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; */
    height: 80px;
}
.foot-list{
    margin-left: 25%;
}

.foot-menu{
    display: inline-block;
}
.foot{
    text-decoration: dashed;
    padding: 15px;
    color: white;
}
.foot:hover{
    text-decoration: dashed;
    padding: 15px;
    color: gray;
}
.leftsec{
    width: 32%;
}
.rs-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c4{
    margin:25px;
}
.c4-h1{
    font-family: 'Montserrat';
    text-align: center;
    font-size: 48px;
    margin: 82px;
}
.c4-skill{
    margin:100px;
    display: flex;
   
    justify-content: center;
    align-items: center;
}
.skill-img{
    padding: 25px 45px;
    
   
}
.skill-img:hover{
    padding: 0px 20px;
    width:18%;
    box-sizing: border-box;
    cursor: pointer;
   
}

.form-1{
    text-align: center;

    
}
.form-head{
    font-family: 'Montserrat';
    font-size: 40px;
    margin: 50px 0px 20px 0px;
}
.form-input{
    margin: 10px;
    padding: 0px 5px;
    width: 50%;
    height: 3em;font-family: 'Montserrat';
}
.form-area{
    margin: 10px;
    padding: 6px 6px;
    width: 50%;font-family: 'Montserrat';
}
.submit-btn{
    font-family: 'Montserrat';
    font-weight: 600;
    
    color: white;
    background-color: #0E1525;
    border-radius: 11px;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 50px;
}
.submit-btn:hover{
    font-family: 'Montserrat';
    font-weight: 600;
    color: #0E1525;
    background-color: white;
    border-radius: 11px;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 50px;
}


